@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

* {
    box-sizing: border-box;
}
/* CSS HEADER */
.header {
    background-color: #f2eff2;
    padding: 8px 0;
}
/* CSS ALINHAMENTO DA PÁGINA */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.center {
    justify-content: center;
}
/* CSS DA BARRA DE PESQUISA */ 
.search {
    position: absolute;
    right: 0;
    border-radius: 40px;
    background-color: #fff;
    padding: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    display: inline-flex;
    align-items: center;
}
@media screen and (max-width: 750px) {
    .search {
        background-color: transparent;
        box-shadow: none;
    }
}
.box-search {
    border: 0;
    width: 210px;
    outline: none;
    text-indent: 10px;
}
@media screen and (max-width: 750px) {
    .box-search {
        display: none;
    }
}
.icon-search {
    background-color: transparent;
    border: 0;
}
/* CSS DO NAV */ 
.nav {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}
.nav-list {
    box-sizing: border-box;
    display: flex;
    list-style: none;
    padding: 0;
    padding: 15px 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    color: #72a3d4;
    font-size: 15px;
}
.text-nav-list a{
    text-transform: uppercase;
    color: #72a3d4;
    font-size: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
main {
    background-color: #f2eff2;
    margin: 0;
    height: 100vh;
}
/* CSS DOS CARDS DE NOTICIA */ 
.card {
    box-sizing: border-box;
    width: 260px;
    height: 330px;
    background-color: #fff;
    border-radius: 5px;
    margin: 0 20px 0 20px;
}
.card img{
    border-radius: 5px 5px 0 0;
    width: 260px;
}
.teste {
    justify-content: space-around;
}
.card-information {
    font-size: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #72a3d4;
    
}
.data-title, .text-information {
    color: #a9a9a9;
    margin: 5px 0 5px 0;
}
.title-information {
    font-size: 15px;
} 
.text-information {
    text-transform: none;
}  
.title-signature {
    font-size: 12px;
    font-weight: bold;
}








