@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* CSS HEADER */
.header {
    background-color: #f2eff2;
    padding: 8px 0;
}
/* CSS ALINHAMENTO DA PÁGINA */
.container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}
.center {
    justify-content: center;
}
/* CSS DA BARRA DE PESQUISA */ 
.search {
    position: absolute;
    right: 0;
    border-radius: 40px;
    background-color: #fff;
    padding: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    display: inline-flex;
    align-items: center;
}
@media screen and (max-width: 750px) {
    .search {
        background-color: transparent;
        box-shadow: none;
    }
}
.box-search {
    border: 0;
    width: 210px;
    outline: none;
    text-indent: 10px;
}
@media screen and (max-width: 750px) {
    .box-search {
        display: none;
    }
}
.icon-search {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}
/* CSS DO NAV */ 
.nav {
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
}
.nav-list {
    box-sizing: border-box;
    display: flex;
    list-style: none;
    padding: 0;
    padding: 15px 0;
    margin: 0;
    justify-content: space-around;
    width: 100%;
    color: #72a3d4;
    font-size: 15px;
}
.text-nav-list a{
    text-transform: uppercase;
    color: #72a3d4;
    font-size: 15px;
    text-decoration: none;
        font-family: 'Roboto', sans-serif;
}
main {
    background-color: #f2eff2;
    margin: 0;
    height: auto;
}
/* CSS DOS CARDS DE NOTICIA */ 
.card-large {
    box-sizing: border-box;
    width: 410px;
    height: 410px;
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 0;
}
.card-medium {
    box-sizing: border-box;
    width: 260px;
    height: 330px;
    background-color: #fff;
    border-radius: 5px;
    margin: 10px 20px 10px 20px;
}
.image-large {
    border-radius: 5px 5px 0 0;
    width: 410px;
}
.image-medium{
    border-radius: 5px 5px 0 0;
    width: 260px;
}
.teste {
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-information {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #72a3d4;
}
.data-title, .text-information {
    color: #a9a9a9;
    margin: 5px 0 5px 0;
}
.title-information {
    font-size: 15px;
} 
.text-information {
    text-transform: none;
}  
.title-signature {
    font-size: 12px;
    font-weight: bold;
}

/* CSS DO NÚMERO DA PÁGINA*/
.number-pages {
    box-sizing: border-box;
    height: 100px;
    align-items: center;
    margin: 40px 0 40px 0;
} 
.btn-style, .btn-style-blue {
    border: none;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    border-radius: 50px;
    width: 80px;
    height: 80px;  
    color: #bbb9bb;
    font-size: 20px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}
.btn-style-blue {
    color: #fff;
    background-color: #7ca3d2;
}
.btn-style:hover {
    color: #fff;
    background-color: rgba(50, 50, 50, 0.6);
}
.btn-style-blue:hover {
    color: #000;
    background-color: rgb(255, 255, 255, 0.6);
}

/* CSS DO FOOTER */
.footer {
    background-color: #fff;
    padding: 20px 0;
}









